body {
    background-color: #2D8652;
    font-family: sans-serif;
}
 
h1 {
    font-size: 300%;
    text-transform: capitalize;
}
    
p {
    font-size: 150%;
}
 
.blanco{
    color: white;
    font-family: serif;
    font-style: oblique;
}
 
p.claro {
    color: #FFDFB3;
    font-family: sans-serif;
}
 
p.oscuro {
    color: #FF9F1A;
    font-family: monospace;
    font-size: 200%;
}
 
p.rojizo {
    color: #E6194D;
    font-family: cursive;
}